{{if .Operations.ReceiveCount -}}
// {{ .Prefix }}Subscriber contains all handlers that are listening messages for {{ .Prefix }}
type {{ .Prefix }}Subscriber interface {
{{- range $key, $value := .Operations.Receive}}
    // {{$value.Extensions}}

    // {{ namify $value.Follow.Name }}Received receive all {{onlyLastRefPart (index $value.Messages 0).Reference}}Message messages from {{ cutSuffix (opToChannelTypeName $value) "Channel" }} channel.
    {{ namify $value.Follow.Name }}Received(ctx context.Context, msg {{onlyLastRefPart (index $value.Messages 0).Reference}}Message) error
{{end}}
}
{{- end}}
